@import "bootstrap-sprockets";
@import "bootstrap";
@import "jquery.datetimepicker";


/*event management css*/

.event-booking{
	width:600px;
	margin: 0 auto;
	background: #eee;
}
.ticket-booking{
	max-width: 100%;
	background: #ccc;
}

#new_ticket{

padding: 10px;
}